<!DOCTYPE html>

<html>
	<%- include header.ejs %>

	<body>
		<div class="row" >
			<div class='col-lg-4'>
				<div class="panel panel-primary">
					<div class="panel-heading">
						<h3 class ="panel-title">Followers</h3>
					</div>
					<div class-"panel-body">
						<p>Des trucs, Des trucs, Des trucs, Des trucs, Des trucs,
							Des trucs, Des trucs, Des trucs, Des trucs, Des trucs,
							Des trucs, Des trucs, Des trucs, Des trucs, Des trucs,
							Des trucs, Des trucs, Des trucs, Des trucs, Des trucs,
							Des trucs, Des trucs, Des trucs, Des trucs, Des trucs,
							Des trucs, Des trucs, Des trucs, Des trucs, Des trucs,
							Des trucs, Des trucs, Des trucs, Des trucs, Des trucs,
							Des trucs, Des trucs, Des trucs, Des trucs, Des trucs,
							Des trucs, Des trucs, Des trucs, Des trucs, Des trucs</p>
					</div> 
				</div>
			</div>

			<div class='col-lg-4'>
				<div class="panel panel-primary">
					<div class="panel-heading">
						<h3 class ="panel-title">Livefeed</h3>
					</div>
					<div class-"panel-body">
						<p>Des trucs, Des trucs, Des trucs, Des trucs, Des trucs,
							Des trucs, Des trucs, Des trucs, Des trucs, Des trucs,
							Des trucs, Des trucs, Des trucs, Des trucs, Des trucs,
							Des trucs, Des trucs, Des trucs, Des trucs, Des trucs,
							Des trucs, Des trucs, Des trucs, Des trucs, Des trucs,
							Des trucs, Des trucs, Des trucs, Des trucs, Des trucs,
							Des trucs, Des trucs, Des trucs, Des trucs, Des trucs,
							Des trucs, Des trucs, Des trucs, Des trucs, Des trucs,
							Des trucs, Des trucs, Des trucs, Des trucs, Des trucs</p>
					</div> 
				</div>
			</div>

			<div class='col-lg-4'>
				<div class="panel panel-primary">
					<div class="panel-heading">
						<h3 class ="panel-title">My Status</h3>
					</div>
					<div class-"panel-body">
						<p>Des trucs, Des trucs, Des trucs, Des trucs, Des trucs,
							Des trucs, Des trucs, Des trucs, Des trucs, Des trucs,
							Des trucs, Des trucs, Des trucs, Des trucs, Des trucs,
							Des trucs, Des trucs, Des trucs, Des trucs, Des trucs,
							Des trucs, Des trucs, Des trucs, Des trucs, Des trucs,
							Des trucs, Des trucs, Des trucs, Des trucs, Des trucs,
							Des trucs, Des trucs, Des trucs, Des trucs, Des trucs,
							Des trucs, Des trucs, Des trucs, Des trucs, Des trucs,
							Des trucs, Des trucs, Des trucs, Des trucs, Des trucs</p>
					</div> 
				</div>
			</div>
		</div>
	</body>
</html>

