<!DOCTYPE html>

<html>
    <head>
        <title>TP Twitter </title>
        <style>
            a {text-decoration: none; color: black;}
        </style>
    </head>

    <body>
        <p> Log success :) </p>
    </body>
</html>